<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>lykin</title>
    <meta name="description" content="lykin: an SSB tutorial application">
    <meta name="author" content="glyph">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lykin.css">
  </head>
  <body class="container">
    <h1>
      <a href="/">lykin</a>
    </h1>
    </a>
    <div class="grid-container">
      {% include "topbar" %}
      {% include "peer_list" %}
      {% include "post_list" %}
      {% include "post_content" %}
    </div>
  </body>
</html>
